ASP.NET/Sourcen/WebDay.WebApp1/Service References/RepositoryServiceReference/BlogRepositoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BlogRepositoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WebDay.WcfService/BlogRepositoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WebDay.WcfService/BlogRepositoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WebDay.WcfService/BlogRepositoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebDay.Contracts" />
      <xsd:import schemaLocation="http://localhost/WebDay.WcfService/BlogRepositoryService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBlogRepository_PublishPost_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishPost" />
  </wsdl:message>
  <wsdl:message name="IBlogRepository_PublishPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishPostResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogRepository_GetRecentPosts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecentPosts" />
  </wsdl:message>
  <wsdl:message name="IBlogRepository_GetRecentPosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecentPostsResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogRepository_GetTagCloud_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagCloud" />
  </wsdl:message>
  <wsdl:message name="IBlogRepository_GetTagCloud_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagCloudResponse" />
  </wsdl:message>
  <wsdl:portType name="IBlogRepository">
    <wsdl:operation name="PublishPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogRepository/PublishPost" message="tns:IBlogRepository_PublishPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogRepository/PublishPostResponse" message="tns:IBlogRepository_PublishPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecentPosts">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogRepository/GetRecentPosts" message="tns:IBlogRepository_GetRecentPosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogRepository/GetRecentPostsResponse" message="tns:IBlogRepository_GetRecentPosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTagCloud">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogRepository/GetTagCloud" message="tns:IBlogRepository_GetTagCloud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogRepository/GetTagCloudResponse" message="tns:IBlogRepository_GetTagCloud_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBlogRepository" type="tns:IBlogRepository">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PublishPost">
      <soap:operation soapAction="http://tempuri.org/IBlogRepository/PublishPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecentPosts">
      <soap:operation soapAction="http://tempuri.org/IBlogRepository/GetRecentPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTagCloud">
      <soap:operation soapAction="http://tempuri.org/IBlogRepository/GetTagCloud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BlogRepositoryService">
    <wsdl:port name="BasicHttpBinding_IBlogRepository" binding="tns:BasicHttpBinding_IBlogRepository">
      <soap:address location="http://localhost/WebDay.WcfService/BlogRepositoryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>