ASP.NET/Sourcen/WebDay.WebApp1/Service References/RepositoryServiceReference/BlogRepositoryService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WebDay.WcfService/BlogRepositoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebDay.Contracts" />
  <xs:element name="PublishPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebDay.Contracts" minOccurs="0" name="post" nillable="true" type="q1:BlogPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishPostResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentPosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maxCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentPostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebDay.Contracts" minOccurs="0" name="GetRecentPostsResult" nillable="true" type="q2:ArrayOfBlogPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagCloud">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagCloudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebDay.Contracts" minOccurs="0" name="GetTagCloudResult" nillable="true" type="q3:ArrayOfTagCloudItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>